* {
    margin: 0;
    padding: 0;
    color: #abc;
}

body, html {
    height: 100%;
    background: #14181c;
    width: 100%;
    font-family: Sans-Serif;
}

.outer__container {
    width: 100%;
 
    padding: 50px ;
}

.inner__container {
    width: 900px;
    margin: 0 auto;
}

.content__width__50 {
    width: 400px;
    padding: 20px;
}

.content__left{
    position: fixed;
    float: left;
}

.content__right {
    float: right;
}
.button-sorter {
    background: none;
    border: 1px solid #00b020;
    color: #00b020;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 10px;
}
.button-sorter:hover {
    cursor: pointer;
}
.active {
    background: #00b020;
    border: 1px solid #00b020;
    color: #F4FCF0;
}
#content__buttons {
    text-align: center;
}

#newList {
    width: 300px;
    height: 350px;
    padding: 5px;
    border-radius: 3px;
}

#sendList {
    padding: 3px 5px;
}

#sendList{
    font-weight: bold;
    border-radius: 3px;
    background: #00b020;
    border: 1px solid #00b020;
    color: #F4FCF0;
}

ul {
    list-style: none;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.2);
}

li {
    padding: 5px 3px;
}
li:hover {
    cursor: pointer;
}

li:nth-child(2n) {
    background: rgba(255,255,255,0.1);
}

textarea {
    background: rgba(255,255,255,0.1);
}

/* .buttonItem {
    margin-left: 15px;
    width: 25px;
    height: 10px;
    border: 1px solid rgba(255,255,255,0.5);
} */
